@charset "UTF-8";

#wrap {
	margin:0 auto; /* 내가 가운데 정렬 */
	width:800px;  /* 가운데 정렬하기 위해서는 width 값 있어야 함 */
	text-align:center; /* 내 안에 들어 있는 요소를 가운데 정렬  */
}

#mainMenuBox {
	height:35px;
	line-height:35px; /*  줄 간격 - 수직으로 가운데 정렬 효과 */
	background-color:#555;
	margin-top:30px;
	margin-bottom:30px;
}

#mainMenuBox ul {
	padding-left:0;
	margin:0;
	list-style:none;  /* type 없음 */
}

#mainMenuBox ul li {   /* #mainMenuBox li  */
	float:left;    /* 한 줄로 정렬  */
	text-align:center;
	width:25%;			/* 항목 4개를 동일한 너비로  */
}

#mainMenuBox a {   /* #mainMenuBox ul li a */
	text-decoration:none;    		/* <a> 태그 밑줄 없애기 */
	color:white; 				/* 글자색 흰색  */
	display:block; 			/* 여백 */
	font-size:14px;
	font-weight:bold;	
}


#mainMenuBox a:hover { 
	color:red;
	text-decoration:underline;    		/* <a> 태그 밑줄 보이기 */
	background-color:black;
}

table {
	margin:0 auto;
	width:600px;
	margin-bottom:30px;
}

#prdName {
	color:blue;
	font-weight:bold;
}

#prdPrice {
	color:red;
}

.box {
	display:inline-block; 		/* 옆으로 나란히 배치 */
	border:solid 1px grey;
	width:320px;
	height:150px;
	font-size:small;
	border-radius:10px;
	padding-left:20px;
	padding-right:20px;
	margin:10px;
	text-align:left;
}

.box a:hover {
	color:red;	
}











